.card {
  width: 600px;
  height: auto;
}

.avatar-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.solve {
  text-decoration: rgb(196, 43, 106) double line-through;
}

.button-legend {
  width: 120px;
  min-width: 120px;
  max-width: 140px;
}

.mat-success {
    background-color: #f857a54b;
    color: #ac2e6b;
}

.mat-legend {
    background-color: #c93285;
    color: #ffffff;
}

.mat-grey {
    background-color: #3131311c;
    color: #363636;
}

.button-actions {
  display: flex !important;
  justify-content: space-between;
}

@media all and (max-width: 800px) {
  .button-legend {
    margin-bottom: 10px;
  }

  .d-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 300px;
    height: auto;
  }

  .item-style {
    margin-block: 15px;
  }

  .description-text {
    font-size: 14px !important;
  }
}
