.card {
  width: 600px;
  height: auto;
}

.avatar-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.solve {
  text-decoration: line-through;
}
