<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="avatar-header-image"></div>
    <mat-card-title>TodoList</mat-card-title>
    <mat-card-subtitle>Lleva tu lista de tareas a donde desees</mat-card-subtitle>
  </mat-card-header>
  <mat-selection-list #tasksSelected>
    <mat-list-item *ngFor="let task of tasks; let index = index;">
      <button mat-icon-button (click)="deleteTask(index)" aria-label="Example icon button with a open in new tab icon">
        <mat-icon color="warn" style="font-size: 16px;">remove_circle_outline</mat-icon>
      </button>
      <mat-list-option [value]="task">
        {{task}}
      </mat-list-option>
    </mat-list-item>
  </mat-selection-list>
  <mat-card-content class="mt-3">
    <form class="form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" matInput [(ngModel)]="newTask" [formControl]="taskFormControl" [errorStateMatcher]="matcher"
              placeholder="Escriba una tarea" (keyup.enter)="addToList(); newTask = ''"
        >
        <mat-hint>Campo requerido!</mat-hint>
        <mat-error *ngIf="taskFormControl.hasError('required')">
          EL campo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addToList()" >Guardar</button>
    <button mat-button (click)="deleteTasks(tasksSelected.selectedOptions.selected)">Borrar</button>
  </mat-card-actions>
</mat-card>
